<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<body>
<div layout:fragment="content" class="container-fluid px-3 py-3 d-flex justify-content-center flex-wrap">
    <div class="px-3 py-3" th:each="memory : ${memories}">
        <div th:if="${memory.memoryType != null}">

            <a th:if="${memory.memoryType == T(com.family.petmemory.entity.memory.MemoryType).IMAGE}" href="#" th:href="@{|/memories/memory/detail/${memory.memoryId}|}">
                <img src th:src="@{|/images/${memory.path}|}" class="img-thumbnail" th:alt="${memory.petName}" />
            </a>
            <video controls th:if="${memory.memoryType == T(com.family.petmemory.entity.memory.MemoryType).VIDEO}">
                <source src th:src="@{|/images/${memory.path}|}">
            </video>
        </div>
    </div>
</div>
</body>
</html>