<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<body>
<div layout:fragment="content" class="container-fluid px-3 py-3 d-flex justify-content-center flex-wrap">
    <div th:each="memoryForm : ${memoryForms}">
        <div>
            <a href="">
                <img src th:src="@{|/images${memoryForm.thumbnail}|}" class="img-thumbnail" th:alt="${memoryForm.name}" />
            </a>
        </div>
        <div class="text-center">
            <a href="#" th:text="${memoryForm.name}">
                이복댕
            </a>
        </div>
    </div>
    <!--<div>
        <div>
            <a href="#">
                <img src
                     th:src="@{/images/KakaoTalk_20200629_004002411.jpg}" class="img-thumbnail" alt="이복댕">
            </a>
        </div>
        <div class="text-center">
            <a href="#">
                이복댕
            </a>
        </div>
    </div>
    <div>
        <div>
            <a href="#">
                <img src
                     th:src="@{/images/KakaoTalk_20200629_004005067.jpg}" class="img-thumbnail" alt="이복댕">
            </a>
        </div>
        <div class="text-center">
            <a href="#">
                이복댕
            </a>
        </div>
    </div>-->
</div>
</body>
</html>