<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<body>
<div layout:fragment="content" class="container-fluid px-3 py-3 d-flex justify-content-center flex-wrap">
    <div class="px-3 py-3">
        <form action="" th:action method="post">
            <div th:if="${petDetail.type == null}" style="cursor:pointer">
                <img src th:src="@{/images/pet_thumbnail.png}" class="img-thumbnail" th:alt="${petDetail.name}" />
            </div>
            <div th:if="${petDetail.type != null}" style="cursor:pointer">
                <img th:if="${petDetail.type == T(com.family.petmemory.entity.memory.MemoryType).IMAGE}" src th:src="@{|/images/${petDetail.path}|}" class="img-thumbnail" th:alt="${petDetail.name}" />
                <video controls th:if="${petDetail.type == T(com.family.petmemory.entity.memory.MemoryType).VIDEO}">
                    <source src th:src="@{|/images/${petDetail.path}|}">
                </video>
            </div>
            <div class="text-center" th:text="${petDetail.name}">
            </div>
            <div class="text-center" th:text="${petDetail.togetherTime.bornTime}">
            </div>
            <div class="text-center">
                <input class="form-check-input" type="checkbox" value="isLeave" id="isLeave" th:checked="${petDetail.petStatus == T(com.family.petmemory.entity.pet.PetStatus).LEAVE}" th:disabled="${petDetail.petStatus == T(com.family.petmemory.entity.pet.PetStatus).LEAVE}">
                <label class="form-check-label" for="isLeave" th:text="${label.petDetail.isLeave}">
                    별이 되었습니다
                </label>
            </div>
            <div class="text-center">

            </div>
        </form>
    </div>
</div>
</body>
</html>