<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid px-0 bg-info bg-gradient text-white" th:fragment="bodyHeader">
    <div class="px-0 py-3">
        <div class="container-fluid">
            <ul class="nav justify-content-center text-dark">
                <li class="nav-item">
                    <a class="nav-link" href="#">공지사항</a>
                </li>
                <li>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">메모리</a>
                </li>
            </ul>
        </div>
    </div>
</div>