<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <script th:src="@{/js/bootstrap.bundle.min.js}"
          src="../js/bootstrap.bundle.min.js">
  </script>
  <script th:src="@{/js/canvasJs/canvasjs.min.js}"
          src="../js/canvasJs/canvasjs.min.js">
  </script>
  <style>
    a {
        color: black;
        text-decoration: none;
    }
    .nav {
        --bs-nav-link-color: none;
    }
    .field-error {
        border-color: #dc3545;
        color: #dc3545;
    }
    img {
        max-height:225px;
    }
    video {
        max-height:225px;
    }
  </style>
  <script>
  /*
    window.onload = function() {
      var chart = new CanvasJS.Chart("petWeightChart", {
          animationEnabled: true,
          title: {
              text: "Hourly Average CPU Utilization"
          },
          axisX: {
              title: "Time"
          },
          axisY: {
              title: "Percentage",
              suffix: "%",
              includeZero: true
          },
          data: [{
              type: "line",
              name: "CPU Utilization",
              connectNullData: true,
              //nullDataLineDashType: "solid",
              xValueType: "dateTime",
              xValueFormatString: "DD MMM hh:mm TT",
              yValueFormatString: "#,##0.##\"%\"",
              dataPoints: [
                  { x: 1501048673000, y: 35.939 },
                  { x: 1501052273000, y: 40.896 },
                  { x: 1501055873000, y: 56.625 },
                  { x: 1501059473000, y: 26.003 },
                  { x: 1501063073000, y: 20.376 },
                  { x: 1501066673000, y: 19.774 },
                  { x: 1501070273000, y: 23.508 },
                  { x: 1501073873000, y: 18.577 },
                  { x: 1501077473000, y: 15.918 },
                  { x: 1501081073000, y: null }, // Null Data
                  { x: 1501084673000, y: 10.314 },
                  { x: 1501088273000, y: 10.574 },
                  { x: 1501091873000, y: 14.422 },
                  { x: 1501095473000, y: 18.576 },
                  { x: 1501099073000, y: 22.342 },
                  { x: 1501102673000, y: 22.836 },
                  { x: 1501106273000, y: 23.220 },
                  { x: 1501109873000, y: 23.594 },
                  { x: 1501113473000, y: 24.596 },
                  { x: 1501117073000, y: 31.947 },
                  { x: 1501120673000, y: 31.142 },
                  { x: 1501123671000, y: 31.142 },
                  { x: 1501126771000, y: 31.142 },
                  { x: 1501129871000, y: 31.142 },
                  { x: 1501132971000, y: 31.142 },
                  { x: 1501135071000, y: 31.142 },
                  { x: 1501138171000, y: 31.142 },
                  { x: 1501141171000, y: 31.142 },
                  { x: 1501144171000, y: 31.142 },
                  { x: 1501147171000, y: 31.142 },
                  { x: 1501150171000, y: 31.142 }
              ]
          }]
      });
      chart.render();
    }
    */
  </script>
</head>
<body>
</body>
</html>