<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div th:replace="fragments/header :: logo"></div>
<div th:replace="fragments/bodyHeader :: bodyHeader" />
<div class="container" style="max-width:560px;">
    <div class="py-5 text-center">
        <h2>로그인</h2>
    </div>
    <form action="loginForm.html" th:action th:object="${loginForm}" method="post">
        <div>
            <label for="loginId" th:text="#{label.member.loginId}">로그인 ID</label>
            <input type="text" id="loginId" th:field="*{loginId}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{loginId}" />
        </div>
        <div>
            <label for="password" th:text="#{label.member.password}">비밀번호</label>
            <input type="password" id="password" th:field="*{password}"
                   class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}" />
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.login}">로그인</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='home.html'"
                        th:onclick="|location.href='@{/members/new}'|"
                        type="button"
                        th:text="#{button.member.join}">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
<div th:replace="fragments/footer :: footer" />
</body>
</html>